<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>롯데택배 :: 회원가입 페이지</title>
</head>

<body>
    <h1>여기는 회원가입 페이지</h1>
    <form action="{% url 'signup' %}" method="POST">
        {% csrf_token %}
        <ul>
            <li><label>아이디 <input type="text" name="id"></label></li>
            <li><label>비밀번호 <input type="password" name="password"></label></li>
            <li><label>이름 <input type="text" name="name"></label></li>
            <li><label>연락처 <input type="tel" name="phone" placeholder="예) 010-1111-1111"></label></li>
            <li><label>이메일 <input type="email" name="email" placeholder="예) user1@naver.com"></label></li>
        </ul>
        <input type="hidden" name="permission" value="0">
        <input type="submit" value="회원가입">
    </form>
</body>

</html>